# Ignored files
# Python
__pycache__/
venv/
*.env
!.env.example

# Node / React
node_modules/
frontend/node_modules/
frontend/dist/
frontend/.vite/

# Database
*.rdb

# OS
.DS_Storeinstance/
.DS_Store
instance/
frontend/.vite/
